.container {
  margin: 0 auto;
  padding-left: 35px;
  padding-right: 35px;
}

header {
  background: url(../img/header.jfif);
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 4;
}

header::before {
  content: '';
  position: absolute;
  background-color: rgba(198, 108, 73, 0.4);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 39px;
  min-width: 211px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

h1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #FFFFFF;
  margin: 0 auto;
}

.burger {
  width: 24px;
  height: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.burger_span {
  width: 24px;
  height: 2px;
  display: block;
  background-color: white;
}

.header_text {
  margin-top: 47px;
  padding-bottom: 50px;
  text-align: center;
}

.header_text a {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
}

.header_text__1 {
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.header_text__2 {
  margin-top: 13px;
  margin-bottom: 41px;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  color: #FFFFFF;
}

.menu {
  padding-left: 0;
  position: absolute;
  top: 62px;
  left: -7px;
}

.menu li {
  list-style-type: none;
}

.menu li a {
  text-decoration: none;
  font-family: Libre Franklin;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #FFFFFF;
}

.toggle {
  display: none;
}

@media (min-width: 831px) {
  .burger {
    display: none;
  }
  .menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 529px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .container {
    max-width: 1110px;
  }
  h1 {
    margin: 0;
  }
  .navbar {
    padding-top: 93px;
  }
  header {
    max-width: 1440px;
    margin: 0 auto;
  }
  .header_text {
    margin-top: 145px;
    padding-bottom: 240px;
    text-align: left;
  }
  .header_text a {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    color: #FFFFFF;
  }
  .header_text__1 {
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 78px;
    /* identical to box height */
    color: #FFFFFF;
  }
  .header_text__2 {
    margin-top: 26px;
    margin-bottom: 106px;
    font-family: Libre Franklin;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */
    color: #FFFFFF;
  }
}
/*# sourceMappingURL=style.css.map */